body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightblue;
}

#page {
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 10px;
}

#mainHeader {
    padding-top: 10px;
}

#mainFooter {
    padding: 10px;
}